/* NAV BAR POSITION */
.topnav {
    display: flex;
    /*justify-content: center;*/
    float: right;
    /*background-color: #f6f9fc;*/
    overflow: hidden;
}

/* TEXT */
.topnav a {
    float: left;
    color: #d5dfff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    font-size: 1vw;
}

/* HOVERED BY MOUSE */
.topnav a:hover {
    background-color: rgb(30, 40, 87); /*background hover*/
    color: rgb(255, 255, 255);           /*font color hover*/
}

/* TAB COLOR WHEN ON THAT PAGE */
.topnav a.active{
    background-color: #f6fbff;
    color: rgb(7, 7, 7);
}